<app-header></app-header>
<div class="confirmation-container">


    <div class="confirmation-items">
        <div class="confirmation-header">
            <h1>
                Successful! 🎉🎉🎉
            </h1>
        </div>
        <div class="confirmation-item ">
            Thank You, {{fullName}}!
        </div>

        <div class="confirmation-item">
            Your order of price {{price}}$ is confirmed!
        </div>
        <div class="confirmation-items back-btn">
            <a [routerLink]="['']">Back to shop</a>

        </div>

    </div>

</div>